<form action="/create/category" method="post" class="form">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" value="<%= locals.category %> ">
    <button type="submit" class="submit">Add</button>
</form>