<footer>
    <form action="/reset" method="get">
        <div class="reset-btn-container">
            <button class="reset button" type="submit">
                Reset Defaults
            </button>
        </div>
    </form>
</footer>
</body>
</html>