<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> </title>
</head>
<body>
    <header>
        <h1 class="title">
            Mine Bag
        </h1>
        <nav class="nav">
            <a href="/create/items">Add items</a>
            <a href="/create/categories">Add categories</a>
        </nav>
    </header>    
