<form action="/create/item" method="post" class="form">
    <label for="item">Item: </label>
    <input type="text" id="item" name="item">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category">
    <button type="submit">Add</button>
</form>