<form action="/create/item" method="post" class="form">
    <label for="item">Item: </label>
    <input type="text" id="item" name="item" value="<%= locals.name %> ">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" value="<%= locals.category %> ">
    <button type="submit" class="submit">Add</button>
</form>