<%- include('../../partials/header', {title: 'Add Category'}) %> 
    <main class="add-category-page">
        <h2>Add New Category</h2>
        <%- include('../../partials/errors') %> 
        <%- include('../../partials/categoryForm') %> 
    </main>
<%- include('../../partials/footer') %> 