<%- include('../../partials/header', {title: 'Add Item'}) %> 
    <main class="add-item-page">
        <h2>Add New Item</h2>
        <%- include('../../partials/errors') %> 
        <%- include('../../partials/itemForm') %> 
    </main>
<%- include('../../partials/footer') %> 