<%- include('../partials/header', {title: 'Mine Bag'}) %> 
    <main class="home">
        <h2 class="all-categories">All Categories</h2>
        <%- include('../partials/categories') %>  
    </main>
<%- include('../partials/footer') %> 