<%- include('../partials/header', {title: 'Mine Bag'}) %> 
    <main class="home">
        Browse BY
        <%- include('../partials/items', {page: 'home'}) %>
        <%- include('../partials/categories', {page: 'home'}) %>  
    </main>
<%- include('../partials/footer') %> 