<%- include('../partials/header', {title: 'Mine Bag'}) %> 
    <main class="home">
        <span class="browse-by">Browse By</span>
        <%- include('../partials/items', {page: 'home'}) %>
        <%- include('../partials/categories', {page: 'home'}) %>  
    </main>
<%- include('../partials/footer') %> 