<%- include('../partials/header', {title: 'Mine Bag'}) %> 
    <main class="home">
        Browse BY
        <%- include('../partials/items') %>
        <%- include('../partials/categories') %>  
    </main>
<%- include('../partials/footer') %> 