<%- include('../partials/header', {title: 'Mine Bag'}) %> 
    <main class="home">
        <h2 class="all-items">All Items</h2>
        <%- include('../partials/items') %>  
    </main>
<%- include('../partials/footer') %> 